/bower_components/
/node_modules/
/.pulp-cache/
/output/
/output-es/
/examples-deps/
/bundle/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.vscode
/*.purs*
/**/.DS_Store
/examples/**/out
/test-snapshots/.spago
/test-snapshots/output
/test-snapshots/**/.purs*
/test-snapshots/**/.psc*
/test-snapshots/generated-docs
/test-snapshots/test-out/
/.direnv
